<!-- Article Schema.org Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": "{{< meta title >}}",
  "description": "{{< meta description >}}",
  "author": {
    "@type": "Person",
    "name": "Dieter Olson",
    "url": "https://affinedrift.com/about.html"
  },
  "publisher": {
    "@type": "Organization",
    "name": "AffineDrift",
    "logo": {
      "@type": "ImageObject",
      "url": "https://affinedrift.com/logo/logo_transparent_1.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://affinedrift.com{{< meta url >}}"
  },
  "datePublished": "2024-01-01",
  "dateModified": "2025-01-15",
  "inLanguage": "en",
  "isAccessibleForFree": true,
  "keywords": "golf biomechanics, control theory, affine systems, robotics",
  "about": [
    {
      "@type": "Thing",
      "name": "Golf Swing Biomechanics"
    },
    {
      "@type": "Thing",
      "name": "Control-Affine Systems"
    },
    {
      "@type": "Thing",
      "name": "Multibody Dynamics"
    }
  ]
}
</script>
